/venv/
/db.sqlite3
.idea/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/db123.sqlite3
/project_v_0_0_1/settings.py
/db33.sqlite3
/db12.sqlite3
/project_v_0_0_1/settings.py
/dbs123.sqlite3
/api/random_oee.py
/dbs1213.sqlite3

/test_api/
